body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
    margin:0;
    padding:0;
}
::-webkit-scrollbar {display:none}

body{
    margin: 0px;
    -moz-user-select:none; /* Firefox私有属性 */
    -webkit-user-select:none; /* WebKit内核私有属性 */
    -ms-user-select:none; /* IE私有属性(IE10及以后) */
    -khtml-user-select:none; /* KHTML内核私有属性 */
    -o-user-select:none; /* Opera私有属性 */
    user-select:none; /* CSS3属性 */
    background-image:url('../img/background.png');
}
div{
    margin: 0px;
    text-align: center;
}
.header{
    height: 250px;
}

.logo{
    height: 160px;
}
.logo img{
    margin-top: 30px;
    height: 90px;
}
.search{
    font-size: 0;
}
.search div{
    display: inline;
    position:relative; 
    top: -4px;
}

input[type=text]{
    width: 510px;
    height: 37px;
    border: 0px;
    outline: none;
    background: white;
    font-size: 15px;
    border:1.5px solid skyblue;
    border-radius:25px;
    -moz-border-radius:25px; /* Old Firefox */
    margin: 0 auto;
    opacity:0.7;
    text-indent: 1em;
}
input[type=submit]{
    width: 90px;
    height: 40px;
    background: transparent;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;

    border:2px solid;
    background: #2d78f4;
    border-radius:25px;
    -moz-border-radius:25px; /* Old Firefox */
    margin: 0 auto;
    -webkit-appearance: none;
}
.content{
    height: 600px;
}
.content .class{
    width: 600px;
    height: 40px;
    margin: 0 auto;
    margin-top: 5px;
    background-color: #FDFDFD;
    border-radius: 5px;
    padding: 10px 130px 10px 130px;
    outline: none;
}
.content .class li:nth-child(1){
    background-color: rgb(215, 230, 185);
}
.content .class li{
    box-sizing: border-box;
    list-style: none;
    height: 40px;
    width: 100px;
    float: left;
    background-color: #f7f1f1;
    border: 1px solid #568bb9;
    border-radius: 5px;
    line-height: 40px;
    text-align: center;
    position: relative;
    outline: none;
}
.content .class li:hover{
    background: skyblue;
}

.content .class li .box{
    box-sizing: border-box;
    width: 860px;
    height: 500px;
    margin: 0 auto;
    position: absolute;
    top: 50px;
    overflow: hidden;
    background-image:url('../img/background.png');
}
.content .class li:nth-child(1) .box{
    left: -130px;
    /* background-color: blue; */
    z-index: 1;
}
.content .class li:nth-child(2) .box{
    left: -230px;
    /* background-color: rgb(118, 136, 225); */
}
.content .class li:nth-child(3) .box{
    left: -330px;
    /* background-color: rgb(225, 115, 143); */
}
.content .class li:nth-child(4) .box{
    left: -430px;
    /* background-color: rgb(214, 214, 131); */
}
.content .class li:nth-child(5) .box{
    left: -530px;
    /* background-color: pink; */
}
.content .class li:nth-child(6) .box{
    left: -630px;
    /* background-color: rgb(104, 196, 201); */
}
.content .class li .box .type:nth-child(odd){
    height: 50px;
    background-color: rgba(216, 216, 221, 0.925);
    opacity:0.7;
}
.content .class li .box .type:nth-child(even){
    height: 50px;
    background-color: rgba(235, 235, 236, 0.925);
    opacity:0.7;
}
.content .class li .box .type .web:nth-child(1){
    box-sizing: border-box;
    width: 78px;
    border-right: 2px solid rgb(128, 125, 125);
    text-align: center;
    font-size: 18px;
    line-height: 50px;
    font-weight: bolder;
    color: rgb(0, 0, 7);
    letter-spacing: 4px;
    opacity: 0.9;
}
.content .class li .box .type .web{
    box-sizing: border-box;
    float: left;
    text-indent: 10px;
    width: 130px;
    height: 50px;
    text-align: left;
    font-size: 16px;
}
.content .class li .box .type .web a{
    height: 50px;
    text-decoration: none;
    line-height: 50px;
    color: rgb(41, 38, 38);
    opacity: 1;
}
.content .class li .box .type .web a:hover{
    color: #537CEA;
}
.content .class li .box .type .web a img{
    margin-bottom: -5px;
    height: 21px;
}
/* 底部 */
.footer{
    background-color: skyblue;
}
.footer{
    margin-top: 20px;
}
.friend{
    width: 75px;
    margin-left: auto;
    margin-right: auto;
}
.intorduce{
    font-size: 12px;
}
