::-webkit-scrollbar {display:none}

body{
    margin: 0px;
    -moz-user-select:none; /* Firefox私有属性 */
    -webkit-user-select:none; /* WebKit内核私有属性 */
    -ms-user-select:none; /* IE私有属性(IE10及以后) */
    -khtml-user-select:none; /* KHTML内核私有属性 */
    -o-user-select:none; /* Opera私有属性 */
    user-select:none; /* CSS3属性 */
    background-image:url('../img/background.png');
}
div{
    margin: 0px;
    text-align: center;
}
.header{
    height: 250px;
}

.footer{
    background-color: skyblue;
}
.logo{
    height: 160px;
}
.logo img{
    margin-top: 30px;
    height: 90px;
}
.search{
    font-size: 0;
}
.search div{
    display: inline;
    position:relative; 
    top: -4px;
}

input[type=text]{
    width: 510px;
    height: 37px;
    border: 0px;
    outline: none;
    background: white;
    font-size: 15px;
    border:1.5px solid skyblue;
    border-radius:25px;
    -moz-border-radius:25px; /* Old Firefox */
    margin: 0 auto;
    opacity:0.7;
}
input[type=submit]{
    width: 90px;
    height: 40px;
    background: transparent;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;

    border:2px solid;
    background: #2d78f4;
    border-radius:25px;
    -moz-border-radius:25px; /* Old Firefox */
    margin: 0 auto;

    -webkit-appearance: none;
}

.content .daohang{
    width: 810px;
    margin-left: auto;
    margin-right: auto;
}
.list{
    width: 810px;
}
.list>div{
    display: inline-block;
}
.type{
    width: 55px;
    float: left;
    border-right: 2px solid rgb(128, 125, 125);
    font-weight: 600;
}
.list:nth-child(odd){
    background-color: rgba(216, 216, 221, 0.925);
    opacity:0.7;
}
.list:nth-child(even){
    background-color: rgba(235, 235, 236, 0.925);
    opacity:0.7;
}
.list>.hang>div{
    font-size: 15px;
    display: inline-block;
    margin-right: -5px;
    width: 110px;
    height: 50px;
    text-align: left;
    line-height: 50px;
}
.list.hang{
    margin-right: -5px;
}
.list a{
    text-decoration: none;
    color: rgb(41, 38, 38);
}
.list a:hover{
    color: #537CEA;
}
.more{
    width: 60px;
    text-align: center;
}
.content .type{
    font-size: 17px;
    width: 80px;
    text-align: center;
    line-height: 50px;
}
.footer{
    margin-top: 20px;
}
.friend{
    width: 75px;
    margin-left: auto;
    margin-right: auto;
}
.intorduce{
    font-size: 12px;
}
